@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {

    background: url('../pic/main-bg.jpg') no-repeat;
    font-family: 'Teko', sans-serif;
    color: white;

}

a {

    text-decoration: none;
    color: white;

}

ul {
    list-style: none;
}

ul li{

    align-content: center;
    display: inline;
    padding: 10px;

}

.wrapper {

    -webkit-box-shadow: 3px 5px 44px 0px rgba(161,204,185,1);
    -moz-box-shadow: 3px 5px 44px 0px rgba(161,204,185,1);
    box-shadow: 3px 5px 44px 0px rgba(161,204,185,1);
    display: flex;
    max-width: 1600px;
    min-width: 1600px;
    height: 900px;
    background: url('../pic/bg.jpg') no-repeat;
    margin: 30px auto;
    border-radius: 15px;
    flex-wrap: wrap;

}

header {

    align-self: flex-start;
    width: 100%;

}


header menu ul {
    margin-top: 10px;
}

header menu ul li a {

    font-size: 45px;
    cursor: pointer; 

}

header menu ul li a:hover {

    color: rgba(199,181,20,.8);
    text-shadow: 0 0 15px rgba(199, 181, 20, .8), 0 0 10px rgba(199, 181, 20, .8);

}

main {

    align-self: center;
    margin: 10px auto;
    display: flex;
    height: 700px;
    min-width: 1500px;
    /*padding: 10px;*/
    background: rgba(0, 0, 0, 0);
    
}

main h1 {
    text-align: center;
    margin: 5px 0px 5px 0px;
}

.authorInfo, .developerInfo {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    font-size: 26px;
    min-width: 1300px;

}

.authorInfo .authorBio a:hover {
    color: rgba(199,181,20,.8);
    text-shadow: 0 0 15px rgba(199, 181, 20, .8), 0 0 10px rgba(199, 181, 20, .8);
}
.authorImg, .dev_logo {
    min-width: 400px;
}

/**/

.scale-down-center {
	-webkit-animation: scale-down-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-down-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes scale-down-center {
    0% {
      -webkit-transform: scale(0.1);
              transform: scale(0.1);
    }
    100% {
      -webkit-transform: scale(0.1);
              transform: scale(0.1);
    }
  }
  @keyframes scale-down-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
  }

  .scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
  
 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
/**/
 
.bookLeft, .gamesLeft {

    min-width: auto;
    max-width: 300px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.bookRight,.gamesRight {

    min-width: 1300px;
    padding: 10px;
    max-width: 600px;
    display: flex;
    flex-direction:row;
    justify-content: center;

}
.bookRight h1 {
    font-size: 36px;
}
.bookRight p {

    font-size: 30px;

}
.bookRight ul {
    font-size: 26px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hidden {

    display: none;

}
.book {
    
    width: 140px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(255,255,255,0.38); 
    box-shadow: 0px 0px 9px 3px rgba(255,255,255,0.38);

}

.flip-vertical-left {

    animation: flip-vertical-left 0.6s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    
}

@keyframes flip-vertical-left {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(-180deg);
  }
}

#first { background: url(../pic/books/first.jpg); }
#second { background: url(../pic/books/second.jpg); }
#third { background: url(../pic/books/third.jpg); }

#first, #second, #third, #firstGame, #secondGame, #thirdGame {
    background-size: cover;
}

#firstGame {
    background: url(pic/games/first.jpg);
    background-size: cover;
}
#secondGame {
    background: url(pic/games/second.jpg);
    background-size: cover;
}
#thirdGame {
    background: url(pic/games/third.jpg);
    background-size: cover;
}
/**/
blockquote::before {
    content: '"';
  }
  
blockquote::after {
    content: '"';
}
  
blockquote::before, blockquote::after {
    opacity: 0.25;
    padding: 0 10px;
    font-size: 5em;
}
  
blockquote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5em;
    margin: 10px auto;
    /* more styles */
}
.quote_fear {
    width: 670px;
    height: 300px;
    margin: 10px auto;
}
/**/

.gamesSubMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    max-height: 50px;
}

.gamesSubMenu a:hover {
    cursor: pointer;
    color: rgba(199,181,20,.8);
    text-shadow: 0 0 15px rgba(199, 181, 20, .8), 0 0 10px rgba(199, 181, 20, .8);
}

.subGameContent {
    min-width: 200px;
    min-height: 200px;
}
.subGameContent p {
    font-size: 26px;
}
.requirements {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.req_box {
    padding: 10px;
}

#bookCont, #gamesCont {
    display: none;
    justify-content: space-between;
}

.dev_Bio {
    line-height: 1.1;
    max-height: 400px;
    overflow-x: hidden;
}

#contactCont {
    display: none;
}
#formContainer form input{
    display: inline-block;
}


footer {

    width: 100%;
    height: 50px;
    align-self: flex-end;
    background:rgba(183, 191, 195, .5);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color:black;
    display: flex;
    justify-content: center;

}

footer ul {

    font-size: 27px;
    align-self: center;

}

footer ul a:hover {

    color: rgba(0, 0, 0, 0.8);

}
